---
batch_connect:
  template: vnc
script: 
  queue_name: <%= custom_queue %> 
  native:
    - "--nodes"
    - "<%= bc_num_slots.blank? ? 1 : bc_num_slots.to_i %>"
    - "--ntasks"
    - "<%= bc_num_slots.blank? ? 1 : bc_num_slots.to_i %>"
    - "--cpus-per-task"
    - "<%= num_cpus.blank? ? 1 : num_cpus.to_i %>"
    - "--mem"
    - "<%= num_mem.blank? ? 1 : num_mem.to_i %>G"
 
    <%- unless email.blank? -%>
    - "--mail-user"
    - "<%= email %>"
    - "--mail-type"
    - "BEGIN,END,FAIL"
    <%- end -%>
    
    <%- if num_gpus.to_i >0 -%>
    - "--gpus-per-task"
    - "<%= num_gpus.to_i %>" 
    <%- end -%>

    <%- unless node_list.blank? -%>
    - "--nodelist"
    - "<%= node_list %>"
    <%- end -%>

    <%- unless node_features_constraint.blank? -%>
    - "--constraint"
    - "<%= node_features_constraint %>"
    <%- end -%>

    <%- unless node_features_prefer.blank? -%>
    - "--prefer"
    - "<%= node_features_prefer %>"
    <%- end -%>